<!-- data.component.html -->
<app-loading-spinner [showSpinner]="storeService.loading || storeService.deleting"></app-loading-spinner>

<div *ngIf="!storeService.loading && !storeService.deleting">
  <!-- Hier deinen normalen Dateninhalt platzieren -->
  <!-- ... -->
</div>

<div *ngIf="storeService.loading">
  <!-- Hier den Lade-Spinner platzieren (z.B., ein Angular Material Spinner) -->
  <mat-spinner diameter="50"></mat-spinner>
</div>

<div *ngIf="storeService.deleting">
  <!-- Hier den Lade-Spinner für das Löschen platzieren -->
  <mat-spinner diameter="50"></mat-spinner>
</div>

<div class="mat-elevation-z8">
  <mat-form-field appearance="fill">
    <mat-label>Items per Page</mat-label>
    <mat-select [(value)]="itemsPerPage" (selectionChange)="onItemsPerPageChange()">
      <mat-option *ngFor="let option of itemsPerPageOptions" [value]="option">
        {{ option }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef (click)="sortData('name')">Name</mat-header-cell>
      <mat-cell *matCellDef="let child">{{ child.name }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="kindergarden">
      <mat-header-cell *matHeaderCellDef (click)="sortData('kindergarden.name')">Kindergarten</mat-header-cell>
      <mat-cell *matCellDef="let child">{{ child.kindergarden.name }}</mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="kindergardenLink">
      <mat-header-cell *matHeaderCellDef (click)="sortData('kindergarden.name')">Kindergarten</mat-header-cell>
      <mat-cell *matCellDef="let child">
        <a [routerLink]="['/kindergarten', child.kindergarden.id]">{{ child.kindergarden.name }}</a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="registrationDate">
      <mat-header-cell *matHeaderCellDef (click)="sortData('registrationDate')">Anmeldedatum</mat-header-cell>
      <mat-cell *matCellDef="let child">{{ child.registrationDate | date: 'yyyy-MM-dd' }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef>Adresse</mat-header-cell>
      <mat-cell *matCellDef="let child">{{ child.kindergarden.address }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="age">
      <mat-header-cell *matHeaderCellDef>Alter</mat-header-cell>
      <mat-cell *matCellDef="let child">{{ getAge(child.birthDate) }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="birthDate">
      <mat-header-cell *matHeaderCellDef (click)="sortData('birthDate')">Geburtsdatum</mat-header-cell>
      <mat-cell *matCellDef="let child">{{ child.birthDate | date:'longDate' }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let child">
        <button mat-raised-button color="warn" (click)="cancelRegistration(child.id)">Kind abmelden</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="['name', 'kindergarden', 'address', 'age', 'birthDate', 'actions']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['name', 'kindergarden', 'address', 'age', 'birthDate', 'actions']"></mat-row>
  </mat-table>
</div>

<div class="pagination">
  <button mat-raised-button [ngClass]="{ 'active': page === currentPage }" (click)="selectPage(page)" *ngFor="let page of returnAllPages() | pagination">
    {{ page }}
  </button>

  <mat-paginator [length]="storeService.childrenTotalCount" [pageSize]="itemsPerPage" [pageSizeOptions]="itemsPerPageOptions" (page)="onPageChange($event)">
  </mat-paginator>
</div>
